{% extends "master.html" %}

{% block title %}
  About Us
{% endblock %}


{% block content %}
{%load static%}
  <!-- Page Content -->
  <div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>Manage Events</h2>
      <a href="{% url 'event_create' %}" class="btn btn-primary">+ Add New Event</a>
    </div>

    <!-- Events Table -->
    <div class="table-responsive shadow bg-white p-3 rounded">
      <table class="table table-bordered table-hover align-middle">
        <thead class="table-dark">
         
          <tr>
            <th>Event Name</th>
            <th>Date</th>
            <th>Location</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
         {% for event in events %}
          <tr>
            <td>{{event.title}}</td>
            <td>{{event.date}}</td>
            <td>{{event.location}}</td>
            <td><span class="badge bg-success">Active</span></td>
            <td class="table-actions">
              <a href="{% url 'edit_event' event.id %}" class="btn btn-sm btn-warning">Edit</a>
              <a href="{% url 'delete_event' event.id %}" class="btn btn-sm btn-danger">Delete</a>
              <button class="btn btn-sm btn-info">View Attendees</button>
            </td>
          </tr>
          {% empty %}
    <tr>
      <td colspan="4">No events found.</td>
    </tr>
    {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% endblock %}
